server {
	listen ${SERVER_PORT};
	
	server_name _;
	root /app/frontend;
	index index.html index.htm;

	location / {
        try_files $uri /index.html;			
    }

    location /api {
        proxy_pass http://localhost:${API_LISTEN_PORT}/api;
    }
}

